.add-posts__page {
  background-color: var(--login-page-bg);
  margin-top: 118px;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;


  .add-posts__container {
    width: 100%;
    max-width: 375px;
    height: auto;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    position: relative;
  }
}

.add-posts__container {
  max-width: 375px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: #fff;
  border-radius: 16px;

  &-title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }

  &-add-title,
  &-add-description {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .add-posts__label {
    font-family: Gilroy, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-align: left;
    color: var(--add-posts__input-color);
  }

  .add-posts__label_description {
    margin-top: 5px;
    margin-bottom: 15px;
    color: var(--add-posts__input-color);
  }

  .add-posts__input {
    width: 100%;
    height: 44px;
    padding: 12px;
    font-size: 14px;
    border-radius: 8px;
    background: var(--add-posts__input-bg);

    color: var(--add-posts__input-color);

    &::placeholder {
      font-family: Gilroy, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.01em;
      text-align: left;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: #BDBDBD;
    }

    &:focus {
      outline: none;
      border: none;

    }
  }

  /* Контейнер для скрытия скролла */
  .add-posts__textarea-wrapper {
    width: 100%;
    border-radius: 8px !important;
    max-height: 198px;
    overflow: hidden;
  }

  /* Стили textarea */
  .add-posts__input {
    width: 100%;
    min-height: 44px;
    max-height: 198px;
    padding: 12px 16px;
    border-radius: 8px;

    border: var(--add-posts__input-border);
    resize: none;
    overflow-y: auto;
    outline: none;
    font-family: Gilroy, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-align: left;

    &::placeholder {
      font-family: Gilroy, sans-serif;
      text-wrap: nowrap;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: 0.01em;
      text-align: left;
      color: #bdbdbd;
    }

    /* Полностью скрываем скроллбар в Chrome, Safari */
    &::-webkit-scrollbar {
      width: 0 !important;
      height: 0 !important;
      display: none !important;
    }

    /* Прозрачный скролл в Firefox */
    scrollbar-width: none;

    /* Для Edge и IE */
    -ms-overflow-style: none;
  }

  &-add-photo {
    display: flex;
    justify-content: center;
  }

  .add-posts__photo-label {
    width: 100%;
    height: 212px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px dashed var(--add-posts__photo-label-border);
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
    position: relative;


    .add-posts__photo-input {
      display: none;
    }

    .add-posts__photo-placeholder {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #ff7043;
      font-size: 14px;
    }

  }

  .add-posts__buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    background: var(--add-post-page-bg);
  }

  .add-posts__button {
    flex: 1;
    padding: 12px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    &.cancel {
      background: #fff;
      border: 1px solid #ccc;
      color: #333;
    }

    &.save {
      background: #ff7043;
      color: #fff;
    }

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
}

@media (max-width: 823px) {

  .add-posts__page .add-posts__container {
    max-width: 343px;
    width: 100vw;
    margin: 0 auto;
    padding: 0;

    &-title {
      display: none;
    }

    &-add-title {
      width: 100%;
    }

    &-add-photo {
      width: 100%;
    }

    &-add-description {
      width: 100%;
    }
  }
  .add-posts__navigate {
    display: none;

  }
  .add-posts__navigate-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .add-posts__navigate_mobile {
    display: block;
    margin: 12px 16px 25px 16px;
    width: fit-content;
    text-align: center;
    font-family: Gilroy, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-decoration: none;
    color: var(--add-posts__navigate-color);
  }
  .add-posts__photo-label {
    max-width: 343px;
   height: 212px;

  }
  .add-posts__photo-placeholder__caption-big {
    display: none;
  }
}

@media (max-width: 823px) {
  .add-posts__container {
    width: 375px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--login-page-bg);
  }

  .add-posts__container-title {
    display: none;
  }

  .add-posts__buttons {
    position: fixed;
    bottom: 46px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 375px;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    z-index: 1000;
  }
  .add-posts__photo-icon {
    width: 53.38px;
    height: 41.94px;
    margin-bottom: 25px;
  }
  .add-posts__photo-placeholder__caption {
    font-family: Gilroy, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-align: center;

  }
  .add-posts__label_description {
    margin-top: 5px;
    margin-bottom: 15px;
  }
}
@media (min-width: 824px) {

  .add-posts__wrapper {
    width: 1440px;
    max-width: 105vw;
    height: 100vh;
    min-height: 1024px;
    background: var(--my-post-page-max-bg);
    display: flex;
    flex-direction: row;
    position: relative;

  }
  .add-posts__page {
    width: 743px;
    height: 746px;
    border-radius: 16px;
    display: flex;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--add-post-page-bg);
  }
  .add-posts__navigate {
    position: absolute;
    top: 96px;
    left: 0;
    padding-left: 50px;
    max-width: 100%;
    font-family: Gilroy, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-decoration: none;
    color: var(--add-posts__navigate-color);

    &_mobile {
      display: none;
    }
  }
  .add-posts__page .add-posts__container {
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 100%;
    padding: 41.5px;
    background: var(--add-posts__container-big-bg);

    &-title {
      margin-left: 0;
      text-align: left;
      font-family: Gilroy, sans-serif;
      font-size: 24px;
      font-weight: 700;
      line-height: 20px;
      letter-spacing: 0.01em;
      color: var(--posts__container-title-color);
    }
  }
  .add-posts__buttons {
    position: fixed;
    bottom: 58px;
    left: 30px;
    width: 100%;
    max-width: 375px;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    z-index: 1000;

  }
  .add-posts__input {
    width:663px !important;
    height: 44px;
    padding: 12px;
    font-size: 14px;
    border-radius: 8px;
    background: var(--add-posts__input-bg);

    color: var(--add-posts__input-color);
  }
  .add-posts__photo-label {
    max-height: 346ppx;
    width: 663px !important;
    height: 346px !important;
  }
  .add-posts__input {
    max-width: 660px !important;
  }
  .add-posts__photo-placeholder__caption {
    display: none;
  }
  .add-posts__photo-placeholder__caption-big {
    font-family: Gilroy, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-align: center;
    margin-top: 20px;
    display: flex;
    gap: 5px;
    flex-direction: column;
  }
  .add-posts__photo-placeholder__caption-gray {
    color: #686868;
  }
  .add-posts__photo-placeholder__caption-bottom {
    display: flex;
    gap: 10px;
  }
}


