.upload-progress-container {
  position: relative;
  width: 100%;
  text-align: center;
}

.upload-progress-text {
  font-weight: 500;
  color: #EE683E;
  margin-bottom: 10px;
  margin-top: 10px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  font-family: Gilroy, sans-serif;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.01em;
}

.upload-progress-bar {
  width: 100%;
  height: 0;
  background: #eee;
  border-radius: 19px;
  overflow: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, height 0.3s ease-in-out, margin-top 0.3s ease-in-out;
  margin-top: 0;

  &.visible {
    opacity: 1;
    height: 16px;
    margin-top: 8px;
  }

  &__fill {
    height: 100%;
    background: var(--upload-progress-bar-bg);
    transition: width 0.5s ease-in-out;
    border-radius: 19px;
    min-width: 5px;
  }
}

.upload-progress-container.visible .upload-progress-text {
  opacity: 1;
}
@media (min-width: 824px) {
  .upload-progress-text {
    font-weight: 600;
    font-size: 16px;
  }
  .upload-progress-bar {
    &.visible {
      height: 20px;
    }
  }
}
