.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-family: "Gilroy", sans-serif;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  text-decoration: none;

  &--primary {
    background-color: var(--btn-ptimary-bg);
    color: #FFFFFF;
    border: none;
    width: 100%;;

    &:hover {
      background-color: #FD825D;
    }

    &:focus {
      background-color: #EE683E;
      border: 1px solid #FD825D;;
    }

    &:disabled {
      background-color: #bdbdbd;
      color: #ffffff;
      cursor: not-allowed;
      pointer-events: none;
    }
  }

  &--secondary {
    background-color: var(--btn-secondary-bg);
    color: #EE683E;
    border: 1px solid var(--radio-checked-bg);
    width: 100%;
    max-width: 163px;
    height: 44px;
    padding: 0 16px;

    &:hover {
      background-color: var(--btn-secondary-bg);
      color: var(--radio-checked-bg-hover);
      border: 1px solid var(--btn-hover-bg);
    }

    &:focus {
      background-color: var(--btn-secondary-bg);
      color:  #EE683E;
      border: 1px solid #EE683E;
    }

    &:disabled {
      background-color: #FCFCFC;
      color:  #BEB9B4;
      border: 1px solid #BEB9B4;
      cursor: not-allowed;
    }
  }

  &--flat {
    background-color: transparent;
    color: #EE683E;
    border: none;

    &:hover {
      border: 1px solid #FD825D;
      color: #FD825D;
    }

    &:focus {
      border: 1px solid #EE683E;
      color: #FD825D;
      background: #FCFCFC;
    }

    &:disabled {
     color: #BEB9B4;
      background-color: transparent;
      cursor: not-allowed;
      border: none;
    }
  }

  &--small {
    max-width: 100%;
    width: 164px;
    height: 44px;
    padding: 0 16px;
  }

  &--large {
    width: 100%;
    max-width: 343px;
    height: 44px;
    padding: 0 24px;
  }

  &--loading {
    cursor: wait;

    .button__loader {
      width: 20px;
      height: 20px;
      border: 2px solid transparent;
      border-top-color: #ffffff;
      border-radius: 50%;
      animation: spin 1s linear infinite;
    }
  }
}
