.form-group {
  .input-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;

    .input {
      width: 100%;
      padding: 8px 32px 8px 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      color: #212121;

      &.input-error {
        border-color: #f03e3e;
      }

      &::placeholder {
        color: #bebebe;
      }
    }

    .status-icon {
      position: absolute;
      right: 8px;
      top: 12px;
      width: 20px;
      height: 20px;


      &.success-icon {
        fill: #28a745;
      }

      &.error-icon {
        fill: #f03e3e;
      }
    }
  }
}

.error-message {
  color: #F03E3E;
  font-size: 12px;
  margin-top: 4px;
}



