@use '@/shared/styles/variables'  as *;
.my-posts-wrapper {
  width: 1440px;
  min-height: 100vh;
  background: var(--primary-bg);
}
.my-posts {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
  margin: 20px auto 0 auto;
  overflow: hidden;
  background: var(--primary-bg);
}

@media (min-width: 320px) and (max-width: 823px) {
  .my-posts-wrapper {
    margin-top: 40px;
  }
}

