.avatar-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;


  &__preview {
    width: 148px;
    height: 148px;
    border-radius: 50%;
    //outline: 1px solid var(--login-page-bg);
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-top: -15px;
    margin-bottom: 15px;
    background-color: #f0f0f0;
    img {
      outline: 2px solid var(--login-page-bg);
    }


    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__label {
    display: inline-block;
    padding: 8px 16px;
    border: 1px solid var(--form-input-border);
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;

    &:hover {
      background-color: var(--form-input-hover);
    }
  }

  &__input {
    display: none;
  }
}
/* Затемняющий фон */
.modal-overlay-profile {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}


/* Контент модального окна */
.modal-overlay-profile__content {
  background: var(--posts__modal-bg);
  width: 280px;
  min-height: 162px;
  padding: 0;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  position: relative;
  animation: fadeIn 0.2s ease-in-out;
}

.modal-overlay-profile__title {
  font-size: 16px;
  font-weight: 600;
  color: var(--posts__modal-header);
  display: flex;
  align-items: center;
  padding-left: 15px;
  min-height: 50px;
  border-bottom: var(--posts__modal-header-border);
}

.modal-overlay-profile__close-btn {
  position: absolute;
  top: -5px;
  max-width: 20px;
  right: 15px;
  font-size: 20px;
  cursor: pointer;
  background: none !important;
  border: none;
  color: var(--close-svg-color);
}

.modal-overlay-profile__close-btn:hover {
  color: #ff5722;
}

.modal-overlay-profile__content button {
  width: 100%;
  padding: 12px;
  min-height: 56px;
  font-size: 14px;
  background:  var(--posts__modal-bg);
  border: none;
  cursor: pointer;
  text-align: left;
  color: var(--posts__modal-color);
  display: flex;
  align-items: center;
}
.last-button {
  border-radius: 0 0 12px 12px;
}
.modal-overlay-profile__content button:hover {
  background: var(--profile__content-btn-hover-bg);
  color: var(--profile__content-btn-hover-color);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
