.register-page {
  height: 100vh;
  background-color: #ffffff;

  .register-container {
    width: 100%;
    max-width: 375px;
    box-sizing: border-box;
    padding: 0 15px;
    &-header{
      margin-bottom: 35px;
    }
    &-header_top {
      display: flex;
      justify-content: center;
      height: 44px;
      width: 100%;
    }
    &-header_bottom {
      display: flex;
      justify-content: center;
      margin-top: 58px;
    }

    .register-title {
      font-family: 'Playfair Display', serif;
      font-size: 24px;
      font-weight: bold;
      color: #333333;
      text-align: center;
      margin-bottom: 40px;
    }

    .register-tabs {
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;

      .register-tab {
        flex: 1;
        text-decoration: none;
        text-align: center;
        padding: 10px;
        font-size: 16px;
        font-weight: 400;
        font-family: 'Gilroy', sans-serif;
        line-height: 22px;
        letter-spacing: 0.01em;
        border: 1px solid #EE683E;;
        border-radius: 8px 0 0 8px;
        cursor: pointer;
        background-color: transparent;
        color: #EE683E;
        transition: background-color 0.3s;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;


        &.active {
          background-color: #EE683E;;
          color: #ffffff;
          border-radius: 0 8px 8px 0;
          font-family: Gilroy, sans-serif;
          font-size: 16px;
          font-weight: 500;
          line-height: 22px;
          letter-spacing: 0.01em;
          text-align: center;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;

        }
      }
    }

    .register-form {
      .register-description {
        font-family: Gilroy, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0.01em;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        padding-right: 20px;
        color: #BEB9B4;
        margin-bottom: 28px;
      }

      .form-group {
        max-width: 347px;
        height: auto;
        min-height: 72px;
        margin-bottom: 20px;
        overflow: visible;

        label {
          display: block;
          margin-bottom: 5px;
          font-family: Gilroy, sans-serif;
          font-size: 16px;
          font-weight: 500;
          line-height: 22px;
          letter-spacing: 0.01em;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: #212121;


        }

        input {
          width: 100%;
          padding: 10px;
          border: none;
          background: #F6F6F6;
          border-radius: 8px;
          outline: none;
          transition: border-color 0.3s;
          font-family: Gilroy, sans-serif;
          font-size: 16px;
          font-weight: 400;
          line-height: 22px;
          letter-spacing: 0.01em;
          text-align: left;
          text-underline-position: from-font;
          text-decoration-skip-ink: none;
          color: #BDBDBD;

          &:focus {
            border-color: #ff6b35;
          }

          &.input-error {
            border: 1px solid #F03E3E;
          }
        }

        .error-message {
          font-size: 12px;
          color:#F03E3E;
          margin-top: 10px;
          margin-bottom: 0;
          display: block;
        }

      }

      .register-button {
        position: absolute;
        bottom: 58px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 343px;
        height: 44px;
        padding: 15px;
        background: #EE683E;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        transition: background-color 0.3s;
        font-family: Gilroy, sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        letter-spacing: 0.01em;
        text-align: center;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        color: #FCFCFC;

        &:hover {
          background: #e55a29;
        }
      }
    }
  }
}
