@use 'variables' as *;
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: var(--body-bg);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: 'Gilroy', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}
@media (max-width: 824px) {
  body {
    background-color:var(--body-mobile-bg);
  }
  .body-login {
    background-color: var(--body-login-bg);
  }

  .body-register {
    background-color: var(--login-page-bg);
  }
}

