$black: #101010;
$darkest-grey: #212121;
$lighter-grey: #BDBDBD;
$grey: #686868;
$black-overlay: #212121F5;
$dark-black-overlay: #101010F5;
$very-dark-grey: #303030;
$lighter-grey-0: #E1E1E1;
$very-light-grey: #F2F2F2;
$lightest-grey: #F6F6F6;
$white: #FCFCFC;
$color-white: #fff;
$primary-default: #EE683E;
$primary-dark: #CD4E27;
$primary-light: #FE825D;
$primary-lighter: #D2B7AF;
$primary-lightest: #FFD1C3;
$red: #FA5252;
$green: #20C997;
$rose: #FFD1C3;
$grey-darker: #BEB9B4;



:root {
  --body-bg:#{#686868};
  --primary-bg: #{$very-light-grey};
  --primary-text: #000000;
  --primary-link-color: #{$lighter-grey};
  --primary-link-active: #212121;
  --post-author-color: #212121;;
  --homepage-header-color: #{$darkest-grey};
  --homepage-header-bg: #{$very-light-grey};
  --select-btn-color: #{$color-white};
  --content-bg-color: #{$white};
  --post-content-color: #686868;
  --post-actions-color:#BDBDBD;
  --post-data-color: #BEB9B4;
  --theme-circle: #FCFCFC;
  --theme-toggle-bg: #212121;


}

[data-theme="dark"] {
  --body-bg:#{#686868};
  --primary-bg: #{$darkest-grey};
  --primary-text: #ffffff;
  --primary-link-color: #{$grey};
  --primary-link-active: #F6F6F6;
  --post-author-color: #F6F6F6;
  --homepage-header-color: #{$very-light-grey};
  --homepage-header-bg: #{$darkest-grey};
  --select-btn-color: #{$very-dark-grey};
  --content-bg-color: #{$darkest-grey};
  --post-content-color: #BDBDBD;
  --post-actions-color:#686868;
  --post-data-color: #666666;
  --theme-circle: #212121;
  --theme-toggle-bg: #FCFCFC;
}

$border-radius: 8px;


// Shadows
$shadow-1: 0px 12px 40px rgba(0, 0, 0, 0.4);

// Gradients
$gradient-1: linear-gradient(90deg, #DBDBDB 5%, rgba(219, 219, 219, 0) 100%);

// Font Family
$font-primary: 'Gilroy', sans-serif;

// Font sizes (in pixels)
$title-bold-24: 24px;
$title-semibold-18: 18px;
$body-bold-20: 20px;
$body-semibold-16: 16px;
$body-medium-16: 16px;
$body-medium-14: 14px;
$body-regular-16: 16px;
$body-regular-14: 14px;
$caption-regular-12: 12px;

// line-height
$line-height-title-bold-24: 28px;
$line-height-title-semibold-18: 21px;
$line-height-body-bold-20: 20px;
$line-height-body-semibold-16: 20px;
$line-height-body-medium-16: 20px;
$line-height-body-medium-14: 16px;
$line-height-body-regular-16: 22px;
$line-height-body-regular-14: 16px;
$line-height-caption-regular-12: 14px;

// font-weight
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;

