$black: #101010;
$darkest-grey: #212121;
$lighter-grey: #BDBDBD;
$grey: #686868;
$black-overlay: #212121F5;
$dark-black-overlay: #101010F5;
$very-dark-grey: #303030;
$lighter-grey-0: #E1E1E1;
$very-light-grey: #F2F2F2;
$lightest-grey: #F6F6F6;
$white: #FCFCFC;
$color-white: #fff;
$primary-default: #EE683E;
$primary-dark: #CD4E27;
$primary-light: #FE825D;
$primary-lighter: #D2B7AF;
$primary-lightest: #FFD1C3;
$red: #FA5252;
$green: #20C997;
$rose: #FFD1C3;
$grey-darker: #BEB9B4;



:root {
  --body-bg:#{#686868};
  --body-mobile-bg:#{$white};
  --primary-bg: #{$very-light-grey};
  --primary-login-bg: #{$very-light-grey};
  --primary-text: #000000;
  --primary-link-color: #{$lighter-grey};
  --primary-link-active: #212121;
  --post-author-color: #212121;;
  --homepage-header-color: #{$darkest-grey};
  --homepage-header-bg: #{$very-light-grey};
  --select-btn-color: #{$color-white};
  --content-bg-color: #{$white};
  --post-content-color: #686868;
  --post-actions-color:#BDBDBD;
  --post-data-color: #BEB9B4;
  --theme-circle: #FCFCFC;
  --theme-toggle-bg: #212121;
  --mobile-active-tab-color: #212121;
  --burger-menu-color: #212121;
  --select-item-active-bg: #FFD1C3;
  --select-item-bg: #FCFCFC;
  --mobile-btn-select-color:#212121;
  --mobile-menu-bg: #FCFCFC;
  --mobile-profile-color: #212121;
  --mobile-profile-account-color: #EE683E;
  --mobile-menu-header-bg:#FCFCFC;
  --mobile-menu-border: 0.5px solid #F6F6F6;
  --mobile-theme-color: #BEB9B4;
  --success-color: #20C997;
  --error-color: #F03E3E;
  --login-page-bg: #FCFCFC;
  --form-label-color: #212121;
  --form-description-color: #BEB9B4;
  --form-input-background: #F6F6F6;
  --login-page-max-bg: #F6F6F6;
  --form-input-border: none;
  --form-input-focus: #ff6b35;
  --form-input-message: #F03E3E;
  --auhh-tab-color: #EE683E;
  --btn-ptimary-bg: #EE683E;
  --btn-hover-bg: #FD825D;
  --btn-focus-bg: #EE683E;
  --btn-focus-border: #FD825D;
  --btn-disabled-bg: #BEB9B4;
  --body-login-bg: #F2F2F2;
  --input-text-color: #212121;
}

[data-theme="dark"] {
  --body-bg:#{#686868};
  --body-mobile-bg:#303030;
  --primary-bg: #212121;
  --primary-login-bg: #212121;
  --primary-text: #ffffff;
  --primary-link-color: #{$grey};
  --primary-link-active: #F6F6F6;
  --post-author-color: #F6F6F6;
  --homepage-header-color: #{$very-light-grey};
  --homepage-header-bg: #{$darkest-grey};
  --select-btn-color: #{$very-dark-grey};
  --content-bg-color: #{$darkest-grey};
  --post-content-color: #BDBDBD;
  --post-actions-color:#686868;
  --post-data-color: #666666;
  --theme-circle: #212121;
  --theme-toggle-bg: #FCFCFC;
  --mobile-active-tab-color: #F6F6F6;
  --burger-menu-color: #686868;
  --select-item-active-bg: #FD825D;
  --select-item-bg: #303030;
  --mobile-btn-select-bg:#303030;
  --mobile-btn-select-color:#F6F6F6;
  --mobile-menu-bg: #212121;
  --mobile-profile-color: #F6F6F6;
  --mobile-profile-account-color: #CD4E27;
  --mobile-menu-header-bg:#303030;
  --mobile-menu-border: 0.5px solid #373737;
  --mobile-theme-color: #686868;
  --success-color: #20C997;
  --error-color: #FA5252;
  --login-page-bg: #212121;
  --login-page-max: #212121;
  --form-label-color: #F6F6F6;
  --form-description-color: #BDBDBD;
  --form-input-background: #303030;
  --login-page-max-bg: #303030;
  --form-input-border: 1px solid #686868;
  --form-input-focus: #FA5252;
  --form-input-message: #FA5252;
  --auhh-tab-color: #CD4E27;
  --btn-ptimary-bg: #CD4E27;
  --btn-hover-bg: #EE683E;
  --btn-focus-bg: #CD4E27;
  --btn-focus-border: #EE683E;
  --btn-disabled-bg: #686868;
  --body-login-bg: #212121;
  --input-text-color: #F6F6F6;
}

$border-radius: 8px;


// Shadows
$shadow-1: 0px 12px 40px rgba(0, 0, 0, 0.4);

// Gradients
$gradient-1: linear-gradient(90deg, #DBDBDB 5%, rgba(219, 219, 219, 0) 100%);

// Font Family
$font-primary: 'Gilroy', sans-serif;

// Font sizes (in pixels)
$title-bold-24: 24px;
$title-semibold-18: 18px;
$body-bold-20: 20px;
$body-semibold-16: 16px;
$body-medium-16: 16px;
$body-medium-14: 14px;
$body-regular-16: 16px;
$body-regular-14: 14px;
$caption-regular-12: 12px;

// line-height
$line-height-title-bold-24: 28px;
$line-height-title-semibold-18: 21px;
$line-height-body-bold-20: 20px;
$line-height-body-semibold-16: 20px;
$line-height-body-medium-16: 20px;
$line-height-body-medium-14: 16px;
$line-height-body-regular-16: 22px;
$line-height-body-regular-14: 16px;
$line-height-caption-regular-12: 14px;

// font-weight
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;

