@use '../../styles/variables' as *;

.notification {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 328px;
  height: 50px;
  padding: 12px 16px;
  border-radius: 8px;
  background-color: var(--share-popup-bg);
  box-shadow: 0 12px 40px 0 rgba(140, 140, 140, 0.15);
  border: none;
  box-sizing: border-box;

  &__icon {
    width: 24px;
    height: 24px;
  }

  &__message {
    font-family: 'Gilroy', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.01em;
    color:  var(--share-link-color);
    flex: 1;
    margin: 0 12px;
  }

  &__close-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;

    &-icon {
      width: 24px;
      height: 24px;
    }
  }
}
