@use '@/shared/styles/variables'  as *;
.homepage-wrapper {
  width: 1440px;
  min-height: 100vh;
  background: var(--primary-bg);
}
.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0;
  min-height: 100vh;
  box-sizing: border-box;
  width: 100%;
  max-width: 1440px;
  margin: 64px auto 0;
  overflow: hidden;
  background: var(--primary-bg);

  &__header {
    width: 100%;
    max-width: 743px;
    background: $color-white;
    padding: 0;
    border-radius: $border-radius;
    margin-top: 0;
    margin-bottom: -20px;
    &__loading {
      background: none;
    }
  }

  &__nav {
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
    margin-left: -10px;
    background: var(--homepage-header-bg);
   &__loadingSelectDropdown {
      margin-top: 20px;
    }
  }

  &__select {
    width: 82px;
    height: 24px;
    border-radius: $border-radius;
    border: none;
    font-family: 'Gilroy', sans-serif;
    font-size: $body-medium-16;
    font-weight: $font-weight-medium;
    line-height: 22px;
    letter-spacing: 0.01em;
    text-align: center;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;


  }

  &__content {
    max-width: 743px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}


@media (max-width: 743px) {

  .homepage {
    &__content {
      padding: 0 10px;
      width: 99vw;
    }

    &__nav {
      background: var(--homepage-header-bg);
    }
  }
}

@media (max-width: 320px) {
  body {
    font-size: 14px;
  }
  .homepage {
    &__nav {
      background: var(--homepage-header-bg);
    }
  }
}

@media (min-width: 320px) and (max-width: 823px) {
  .homepage-wrapper {
    margin-top: 100px;
  }
  .homepage {
    &__content {
      width: 99vw;
      padding: 16px;
      gap: 8px;
    }

    &__select {
      position: fixed;
      top: 20px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 1000;
      background: $color-white;
      padding: 8px 16px;
      border-radius: $border-radius;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
      width: 200px;
    }

    &__nav {
      background: var(--homepage-header-bg);
      padding-left: 10px;
     padding-top: 10px;
      margin-bottom: -10px;
    }
  }
}
@media (max-width: 824px) {
  .select-dropdown__button {
    background: var(--select-btn-bg);

    &_inner {
      color: var(--select-btn-bg);

    }
  }
}
@media (min-width: 825px) {
  .homepage {
    &__content {
      gap: 25px;
    }
    &__nav {
      background: var(--homepage-header-bg);
      justify-content: left;

      &__loadingSelectDropdown {
        margin-top: 20px;
        margin-left: -320px;
      }
    }
    &__header {
      width: 100%;
      max-width: 743px;
      background: var(--homepage-header-bg);
      padding: 10px;
      box-shadow: none;
    }

    &__select {
      background:  var(--homepage-header-bg);
    }

    .select-dropdown__button {
      background: var(--homepage-header-bg);
      &_inner {
        color:  var(--homepage-header-color);

      }
    }
  }
}

